



.page-header {
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 30px;
}

.page-header h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #212529;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 3px solid #343a40;
}

.page-header p {
    font-size: 1.2rem;
    margin: 0;
    padding: 12px;
    background-color: lightblue;
}

body {
    background-color: grey;
}